body {
    background-color: #000b1c;
}
#movie-container {
    background-color: #000b1c;
}
.create-form{
    background-color: #001d3d;
    color: #ffc300;
}
.bb-background-color{
    background-color: #001d3d;
}
.yellow-text{
    color: #ffc300;
}
.yellow-border{
    border: 1px solid #ffc300;
}
input {
    background-color: #003566;
    color: #ffc300;
    border-style: none;
}
textarea{
    background-color: #003566;
    color: #ffc300;
    border-style: none;
}
.movie-box {
    background-color: grey;
}
.card {
    background-color: #001d3d;
    color: #ffc300;
    border-radius: 10px;
}
.card-body{
    background-color: #003566;
    padding: 8px;
    border-radius: 10px;
}
.card-list>li{
    background-color: #003566;
}
.card-list>li:nth-of-type(1){
    border-radius: 10px 10px 0 0;
}
.card-list>li:last-of-type{
    border-radius: 0 0 10px 10px;
}
.card-id{
    font-size: 1em;
    opacity: .3;
}
.title {
    font-weight: bold;
}
.card-plot{
    height: 275px;
    overflow: scroll;
}
.btn{
    background-color: #001d3d;
    color: #ffc300;
}
::placeholder {
    color: #ffd60a;
}
.yellow-text:hover {
    color: #ffc300;
    opacity: .7;
}
.modal-content {
    background-color: #ffd60a;
    color: #001d3d;
}
.modal-background {
    background-color: #ffeb90;
}
.modal-background::placeholder {
    color: #001d3d;
}
.jumbotron {
    width: 70%;
    margin: auto;
    background-image: url("https://image.scoopwhoop.com/w700-120-cfix/https://s4.scoopwhoop.com/anj/sw/e4401105-d15b-4e39-953a-433195c8ab00.jpg");
    background-size: contain;
}
